body{
	font-family:'Microsoft Yahei';
	color:#666;
	font-size:12px;
}

.fl{
    float: left;
}

.fr{
    float:right;
}

.user_info{
    display: none;
}

.header{
    background: #f7f7f7;
    height:29px;
}
.header_con{
    width: 1200px;
    border: 1px;
    margin: 0 auto;
    line-height: 29px;
}

.user span{
    color:#cecece;
    margin:0 10px;
}

.user a:hover,.user a:hover{
    color:#f80;
}


.logo_search{
    width: 1200px;
    height: 115px;
    margin:0 auto;
}
.logo{
    height: 59px;
    width: 150px;
    background: url('../images/logo.png') 1px 1px no-repeat;
    margin:29px 0 0 17px;

}

.search{
    width:616px;
    height:38px;
    margin:34px 0 0 124px;
    border:1px solid #37ab40;
    background:url(../images/icons.png) 10px 10px no-repeat;
}

.input_text{
    margin-left:36px;
    width:480px;
    height:38px;
    border: 0px;
    /* 去掉获得焦点时显示的蓝色的框   */
    outline:none;
}

.sub_btn{
    width:100px;
    height:38px;
    background-color:#37ab40;
    border:0px;
    font-size:14px;
    color:#fff;

    /* 将鼠标的形状设置为手型   */
    cursor:pointer;
}

.chart_con{
    width:200px;
    height:40px;
    margin-top:34px;
}

.chart_link{
    width:158px;
    height:38px;
    border:1px solid #ddd;
    background:url(../images/icons.png) 12px -42px  no-repeat #f7f7f7;
    text-indent:56px;
    line-height:38px;
    font-size:14px;
    color:#37ab40
}

.chart_num{
    width:40px;
    height:40px;
    background-color:#f80;
    text-align:center;
    font:bold 18px/40px 'Microsft Yahei';
    color:#fff;
}


.sub_menu_con{
	height:40px;
	border-bottom:2px solid #37ab40;
}

.sub_menu{
	width:1200px;
	height:40px;
    margin:0 auto;
}

.sub_menu h1{
	width:200px;
	height:40px;
	background-color:#37ab40;
	font:14px/40px 'Microsoft Yahei';
	color:#fff;
	text-align:center;
}

.sub_menu ul{
	overflow:hidden;
}

.sub_menu li{
	float:left;
	height:14px;
	padding:0 25px;
	border-left:1px solid #666;
	margin-left:-1px;
	margin-top:13px;
}

.sub_menu li a{
	font:12px/14px 'Microsoft Yahei';
	color:#666;
}

.sub_menu li a:hover{
	color:#f80;
}